{% extends "website/base.html" %}
{% load static %}

{% block content %}
  {% include "includes/home/hero.html" %}
  {% include "includes/home/how_it_works.html" %}
  {% include "includes/home/packages.html" %}
  {% include "includes/home/profit_examples.html" %}
  {% include "includes/home/success_stories.html" %}
  {% include "includes/home/training_support.html" %}
  {% include "includes/home/machines_addons.html" %}
  {% include "includes/home/software_secondary.html" %}
  {% include "includes/home/final_cta.html" %}
  {% include "includes/home/sticky_whatsapp_bar.html" %}
{% endblock %}
