{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4 form-card">
      <h4 class="mb-3">New Quotation</h4>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2">
          <button class="btn btn-primary">Create</button>
          <a href="{% url 'ims:sales:sales_home' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
